html, body {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}

div.container {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

div.helper {
  flex: 0 150px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: #ddd;
}

div#windows {
  flex: 1 0px;
  position: relative;
  overflow: hidden;
}

div#point {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f00;
  margin-top: -5px;
  margin-left: -5px;
  position: absolute;
  z-index: 1000;
  transition: left 50ms, top 50ms;
}

div.helper > ul.gestures {
  flex: 1 0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style-type: none;
  margin: 10px 0px;
  padding: 0;
}

div.helper > ul.gestures > li {
  flex: 1 0px;
  text-align: center;
}

div.helper > ul.gestures > li > div:first-child {
  font-size: 50px;
  text-align: center;
}

div.helper > ul.gestures > li > div:last-child {
  text-align: center;
}

div.helper > ul.gestures > li.activated {
  background: #eee;
}

div.helper > ul.gestures > li > div {
  height: 20px;
  font-family: sans-serif;
}

div.helper > ul.gestures > li > img {
  width: auto;
  height:90px;
}

div.helper > div.monitor {
  flex: 0 200px;
  background-color: #eee;
}

#video-element {
  display: none;
}

div.window {
  position: absolute;
  width: 200px;
  height: 133px;
  box-sizing: border-box;
  transition: left 100ms, top 100ms;
  border: 1px solid #888;
  border-radius: 8px;
  background-size: contain;
}

div#window-1 {
  left: 100px;
  top: 100px;
  width: 600px;
  height: 400px;
  z-index: 1;
}
div.window.program-1 {
  background-image: url(/images/programs/browser.png);
}

div.window.program-2 {
  background-image: url(/images/programs/chat.png);
}

div.window.program-3 {
  background-image: url(/images/programs/finder.png);
}

div.window.program-4 {
  background-image: url(/images/programs/music.png);
}

div.window.program-5 {
  background-image: url(/images/programs/vscode.png);
}

div.window.program-6 {
  background-image: url(/images/programs/youtube.png);
}


div.window.pointed {
  border: 2px solid #f00;
}
